/* ----------------------------------- */
/*              TAILWIND              */
/* ----------------------------------- */

@import "tailwindcss";



/* ----------------------------------- */
/*             ESTILOS BASE           */
/* ----------------------------------- */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #002c6b;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: white;
}

button:hover{
  cursor: pointer;
}

.custom-arrow::before {
  content: none;
  display: none;
  background-color: gray;
  opacity: 0.5;
}
